.DivImg {
    max-width: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.DivImg img {
    height: 100%;
}

.PaddingLeft {
    padding-left: 0;
}

.PaddingRight {
    padding-right: 0;
}

@media (min-width: 992px) {
    .PaddingLeft {
        padding-left: 8%;
    }

    .PaddingRight {
        padding-right: 8%;
    }
}
